
<dx-data-grid
  id="gridContainer"
  [dataSource]="orthesisInfoCollection"
  keyExpr="id"

  [hoverStateEnabled]="true" [showBorders]="true"
  [showColumnLines]="true" [showRowLines]="true" [rowAlternationEnabled]="false"
  [export]="true" [groupPanel]="true">

  <dxo-load-panel [enabled]="true"></dxo-load-panel>
  <dxo-scrolling mode="standart" columnRenderingMode="virtual"></dxo-scrolling>
  <!-- Pagination start -->
  <dxo-paging [pageSize]="13"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true" [allowedPageSizes]="[5, 10, 20, 50, 100]"></dxo-pager>
  <!-- Pagination end -->

  <dxi-column
    dataField="orthesisName"
    caption="Ortezin Adı"
    width= '250px'
  ></dxi-column>
  <dxi-column
    dataField="leftPart"
    caption="Sol Kısım"
  ></dxi-column>
  <dxi-column
    dataField="rightPart"
    caption="Sağ Kısım"
  ></dxi-column>

</dx-data-grid>




