<dx-data-grid [dataSource]="dataSource" [remoteOperations]="true" [height]="600" [showBorders]="true" (onInitNewRow)="onInitNewRow($event)">
  <dxo-row-dragging
    [allowReordering]="true"
    [onReorder]="onReorder"
    [showDragIcons]="showDragIcons"
  ></dxo-row-dragging>
  <dxo-sorting mode="none"></dxo-sorting>

  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
  </dxo-editing>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
  <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
  <dxi-column dataField="fieldName" caption="Soru İçeriği">
    <dxi-validation-rule type="stringLength" [max]="50"
                         message="The field Customer must be a string with a maximum length of 50."></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="fieldType" caption="Soru Türü" dataType="number">
    <dxo-lookup [dataSource]="formFieldSelectBoxElements" valueExpr="Value" displayExpr="Text"></dxo-lookup>
  </dxi-column>

  <div *dxTemplate="let order of 'detail'">
    <app-default-value-data-grid [key]="order.key.key" [formFieldDefaultValueMap]="formFieldDefaultValueMap"></app-default-value-data-grid>
  </div>
</dx-data-grid>
