<dx-tab-panel
  [height]="'inherit'"
  [selectedIndex]="0"
  [loop]="false"
  [animationEnabled]="true"
  [swipeEnabled]="false"
>
  <dxi-item title="Gelen İstekler" style="background-color: #E8E8E8">
    <div class="container" id="form-grid">
      <h3>Cevap Bekleyen Anket-Form Talepleri</h3>

      <dx-data-grid
        id="gridContainer"
        [dataSource]="dataSourceActive"
        [remoteOperations]="true"
        [showBorders]="true">

        <dxo-paging pageSize="15"></dxo-paging>

        <dxi-column dataField="creationDate" caption="Gönderilme Tarihi" dataType="datetime" format="M/d/yyyy H:mm"></dxi-column>
        <dxi-column dataField="formDynamic.title" caption="Form Başlığı"></dxi-column>
        <dxi-column dataField="formDynamic.explanation" caption="İçerik"></dxi-column>
        <dxi-column type="buttons" alignment="center"  caption="İşlemler" width= '100px' >
          <dxi-button hint="Cevapla" icon="fas fa-eye" [onClick]="answerForm" > </dxi-button>
        </dxi-column>
        <!--[visible]="isFormAnswered" [onClick]="openPopUp" -->
        <!-- <dxo-master-detail [enabled]="true" template="masterDetail"></dxo-master-detail> -->
      </dx-data-grid>
    </div>
  </dxi-item>

  <dxi-item title="Gönderilmiş Cevaplar" style="background-color: #E8E8E8">
    <div class="container" id="form-grid-2">

      <div class="card-body" style="padding: 3px; background-color: #9EE2E9;">
        <dx-toolbar style="padding: 3px; background-color: #9EE2E9;">

          <dxi-item location="center" widget="dxButton" locateInMenu="never">
            <div *dxTemplate>
              <div class='toolbar-label'><b>Cevaplanmış Anket-Form Talepleri</b> </div>
            </div>
          </dxi-item>
        </dx-toolbar>
      </div>

      <dx-data-grid
        id="gridContainer2"
        [dataSource]="dataSourceHistory"
        [remoteOperations]="true"
        [showBorders]="true">

        <dxo-paging pageSize="15"></dxo-paging>

        <dxi-column dataField="creationDate" caption="Gönderilme Tarihi" dataType="datetime" format="M/d/yyyy H:mm"></dxi-column>
        <dxi-column dataField="formDynamic.title" caption="Form Başlığı"></dxi-column>
        <dxi-column dataField="formDynamic.explanation" caption="İçerik"></dxi-column>
        <dxi-column type="buttons" alignment="center"  caption="İşlemler" width= '100px' >
          <dxi-button hint="Cevabı Görüntüle" icon="fas fa-eye" [onClick]="viewForm" ></dxi-button>
        </dxi-column>

      </dx-data-grid>
    </div>
  </dxi-item>
</dx-tab-panel>





