<h2 class="content-block">Hasta ile ilgili genel bilgiler</h2>


<dx-form [formData]="dataSource" [readOnly]="true">


    <!-- 1. Demografik Bilgiler-->
    <dxi-item [alignItemLabels]="true" itemType="group" caption="1. Demografik Bilgiler" [colCount]="2">

        <dxi-item [alignItemLabels]="true" itemType="group">
            <dxi-item dataField="tcKimlikNo">
                <dxo-label location="left" [visible]="true" text="Kimlik Numarası:"></dxo-label>
            </dxi-item>

            <dxi-item dataField="user.firstName">
                <dxo-label location="left" [visible]="true" text="İsim: "></dxo-label>
            </dxi-item>

            <dxi-item dataField="user.surname">
                <dxo-label location="left" [visible]="true" text="Soyisim:"></dxo-label>
            </dxi-item>

            <dxi-item dataField="user.email">
                <dxo-label location="left" [visible]="true" text="Email Adresi:"></dxo-label>
            </dxi-item>


        </dxi-item>

        <dxi-item [alignItemLabels]="true" itemType="group">
            <div style="width: 50%"></div>
            
        </dxi-item>


        <!--End of first part-->
    </dxi-item>





</dx-form>