<dx-popup [minWidth]='"55%"' [minHeight]="'inherit'" [showTitle]="true" [title]="title" [dragEnabled]="true"
          [closeOnOutsideClick]="true" [(visible)]="isVisible" [position]="{ my: 'center', at: 'center' }">
  <div *dxTemplate="let data of 'content'">

    <dx-scroll-view width="100%" height="100%">

      <div class="row-md-6 align-items-center">
        <mdb-carousel [interval]="0" [animation]="'slide'">

          <mdb-carousel-item *ngFor="let notification of requestedVideoListPrepared; let i = index">
              <div style="height: 600px; margin: auto;">
                <video-player-component [options]="{
          responsive: true,
          autoplay: false,
          controls: true,
          sources: [{ src: requestedVideoListPrepared[i].videoRequestUrl, type: 'video/mp4', withCredentials: true}],
          html5:{
              hls: {
                withCredentials: true,
                overrideNative: true
              }
            }
            }">
                </video-player-component>
              </div>
          </mdb-carousel-item>

        </mdb-carousel>
      </div>
      <div class="row-md-6 align-items-center" style="margin-top:5px">
        <div>Video İçeriği: </div>
        <br>
        <dx-text-area
          [readOnly]="true"
          [height]="90"
          [stylingMode]="stylingMode"
          [(value)]="responseVideoRequest.responseContent">
        </dx-text-area>
      </div>
    </dx-scroll-view>

  </div>


</dx-popup>
