
<h2>Şifrenizi Sıfırlayın</h2>

Sifrenizi sifirlamak icin lütfen sistemde kayıtlı olan e-mail adresini giriniz. <br>
E-mail adresinize sifre sıfırlama linkini iceren bir mail gönderilecektir.
<br><br>
<dx-form [alignItemLabels]="true" [formData]="resetrequestform" [disabled]="loading" [showValidationSummary]="true">

    <dxi-item dataField="email" editorType="dxTextBox"
    [editorOptions]="{ stylingMode: 'filled', placeholder: 'Sisteme kayitli email Adresiniz'}">
    <dxi-validation-rule type="required" message="Email boş bırakılamaz"></dxi-validation-rule>
    <dxo-label location="top" [visible]="true" text="Email"></dxo-label>
    <dxi-validation-rule type="email" message="Geçersiz Email"></dxi-validation-rule>
  </dxi-item>


    <dxi-item itemType="button" [buttonOptions]="submitbuttonOptions"></dxi-item>

    <dxi-item>
        <div class="login-link">
           <a routerLink="/login">Giriş Yap</a>
        </div>
      </dxi-item>

</dx-form>