
<div *ngIf="!isTokenTrue">

  <h>Yanlis token kullanıldı.Lütfen işleminizi tekrar edin</h>


</div>


<div *ngIf="isTokenTrue">






<dx-form [alignItemLabels]="true" [formData]="passwordForm" [disabled]="loading" [showValidationSummary]="true">


  <dxi-item dataField="password" editorType="dxTextBox"
    [editorOptions]="{ stylingMode: 'filled', placeholder: 'Şifre', mode: 'password' }">
    <dxi-validation-rule type="required" message="Şifre gerekli"></dxi-validation-rule>
    <dxo-label location="top" [visible]="true" text="Şifre"></dxo-label>
  </dxi-item>

  <dxi-item dataField="confirmedPassword" editorType="dxTextBox"
    [editorOptions]="{ stylingMode: 'filled', placeholder: 'Şifreyi Onayla', mode: 'password' }">
    <dxi-validation-rule type="required" message="Şifre gerekli"></dxi-validation-rule>
    <dxi-validation-rule type="custom" message="Şifre uyuşmuyor" reevaluate="true"
      [validationCallback]="confirmPassword"></dxi-validation-rule>
    <dxo-label location="top" [visible]="true" text="Şifreyi Onayla"></dxo-label>
  </dxi-item>




  <dxi-item itemType="button" [buttonOptions]="submitbuttonOptions"></dxi-item>



</dx-form>


</div>
