//::ng-deep span.dx-field-item-label-content{
//  width:10%
//}
::ng-deep .fileuploader-container{
  border: 1px solid #d3d3d3;
  margin: 20px 20px 0 20px;
}

::ng-deep .fileuploader-container-2{
  border: 1px solid #d3d3d3;
  margin: 0px 20px 20px 20px;
}

::ng-deep .fileuploader-container-3{
  border: 1px solid #d3d3d3;
  margin: 0px 20px 20px 20px;
}

::ng-deep #delete-surgery-button{
  margin: 0px;
  width: 1%;
}

::ng-deep #delete-orthesis-button{
  margin: 0px;
  width: 1%;
}

::ng-deep #orthesis-container{
  border: 1px solid #d3d3d3;
  margin: 20px 20px 20px 20px;
  background-color: #9EE2E9;
}

::ng-deep #delete-expectations-button{
  margin-top: 40px;
}

::ng-deep .dx-button .dx-button-normal .dx-button-mode-text .dx-widget .dx-button-has-icon .dx-button-has-text{
  margin-top: 40px;
}
//::ng-deep .dx-form .dx-field-item-label{
//
//    width: 60%;
//}
