<ng-template [ngIf]="isUserAndIsFilledGeneralEvaluationFormAndPatientForm">
  <app-side-nav-outer-toolbar [navigation]="userNavigation" title="{{appInfo.title+' - '+'User'}}" >
    <router-outlet></router-outlet>
    <app-footer>
      Copyright © 2011-{{appInfo.currentYear}} {{appInfo.title}} Inc.
      <br/>
      All trademarks or registered trademarks are property of their respective owners.
    </app-footer>
  </app-side-nav-outer-toolbar>
</ng-template>

<ng-template [ngIf]="isDoctor">
  <app-side-nav-outer-toolbar [navigation]="doctorNavigation" title="{{appInfo.title+' - '+'Doctor'}}">
    <router-outlet></router-outlet>
    <app-footer>
      Copyright © 2011-{{appInfo.currentYear}} {{appInfo.title}} Inc.
      <br/>
      All trademarks or registered trademarks are property of their respective owners.
    </app-footer>
  </app-side-nav-outer-toolbar>
</ng-template>

<ng-template [ngIf]="isAdmin">
  <app-side-nav-outer-toolbar [navigation]="adminNavigation" title="{{appInfo.title+' - '+'Doctor'}}">
    <router-outlet></router-outlet>
    <app-footer>
      Copyright © 2011-{{appInfo.currentYear}} {{appInfo.title}} Inc.
      <br/>
      All trademarks or registered trademarks are property of their respective owners.
    </app-footer>
  </app-side-nav-outer-toolbar>
</ng-template>

<ng-template [ngIf]="isNotAuthorized">
  <app-not-authorized-container></app-not-authorized-container>
</ng-template>
