<div>
<!--  <div class="logos-container">-->
<!--    <img src="assets/logo/hacettepe-logo.png" alt="hacettepe-logo" style="-->
<!--  max-width: 7%;-->
<!--  height: auto;-->
<!--  display: block;-->
<!--  margin-left: auto;-->
<!--  margin-right: auto;">-->
<!--  </div>-->


<div style="  width: 75%; margin: 0 auto;">

<dx-button class="rect demo-light"  style="background-color: #9EE2E9; color: #000;" text="Doktor İşlemleri" type="success" (onClick)="DoctorButtonNavigate()" ></dx-button>

<dx-button class="rect demo-light"  style="background-color: #9EE2E9; color: #000;" text="Admin İşlemleri" type="success" (onClick)="AdminButtonNavigate()"></dx-button>

<dx-button class="rect demo-light" style="background-color: #9EE2E9; color: #000;"  text="Sistem Detayları" type="success" ></dx-button>

<dx-button class="rect demo-light"  style="background-color: #9EE2E9; color: #000;" text="Hasta İşlemleri" type="success"  (onClick)="PatientButtonNavigate()"></dx-button>

</div>

</div>
