
  <div class="card">

      <div class="row">

        <div class="col-md-3" style="display: grid;justify-content: center;align-content: center;">
          <div class="date-card" >
            <div class="day">21</div>
            <div>
              <div class="month">September</div>
              <div class="year">2017</div>
            </div>
          </div>
        </div>

        <div class="col-md-7 text-center flex-column ">
          <p>Online Gorusme</p>21:36
        </div>
        <div class="col-md-2" style="margin-bottom: 8px;margin-top: 8px">
          <div class="text-center" style="vertical-align: middle">
            <div class="row-md-6"  style="margin-bottom: 8px;">
              <button id="joinCallButton" type="button" class="btn btn-success btn-circle btn-xl">
                <i class="fas fa-phone"></i>
              </button>
            </div>
            <div class="row-md-6">
              <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="fas fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
<!--&lt;!&ndash;      </div>&ndash;&gt;-->

  </div>
